/* body{
  background-color: #ccc;
  padding: 20px;
} */

h1, h2{
  text-align: center;
}

h2{
  margin-bottom: 24px;
}

h2 a{
  text-decoration: none;
}

/* #previewer{
  margin: auto;
  display: flex;
  justify-content: space-between;
} */